/* Asterisk wildcard selector to override default styles added by the browser */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General Styles */

body {
    /* added background image and colour for screens too big for the image size, with no repeats */
    background: #473f46 url(../images/background.webp);
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center top;
    font-family: Quicksand;
}

h2,
h3,
h4 {
    color: #780606;
    text-align: center;
    font-size: 90%;
}

button {
    display: inline-block;
    background-color: aqua;
    border: none;
    border-radius: 10px;
    color: #011f20;
    font-size: 90%;
    text-align: center;
    min-width: 150px;
    height: 35px;
    margin: 10px 10px 10px 10px;
}

.heading {
    color: #011f20;
    text-align: center;
    font-size: 125%;
}

.words {
    color: #780606;
    text-align: center;
    font-weight: bold;
}

#quiz-box {
    /* creating a box to contain the quizes, the signup form and feedback form
    this will sit on top of the background image above */
    background-color: rgba(151, 162, 255, 0.9);
    border-radius: 20px;
    width: 90vw;
    position: fixed;
    padding: 10px 10px 10px 10px;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -30%);
}

/* Main Page / Home Page */

nav ul {
    list-style-type: none;
}

/* this will create nice looking rounded buttons for page navigation */
.nav-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #ffe6fc;
    background-color: #12514f;
    margin: 10px 10px 10px 10px;
    padding: 5px 5px 5px 5px;
    border-radius: 10px;
}

.nav-items {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* Monster Facts Page */

#questions-answers-section {
    text-align: center;
}

#once-more {
    text-align: center;
}

/* Monster Match Page */
#quiz-img {
    max-width: 60vw;
    max-height: 40vh;
    display: flex;
    justify-content: center;
}

/* Media Query: Tablets and larger (768px and up) */
@media screen and (min-width:768px) {
    #quiz-box {
        width: 70vw;
        position: fixed;
        top: 30%;
        left: 30%;
        transform: translate(-30%, -30%);
    }

    .heading {
        font-size: 200%;
    }
}